@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text");
@import url('https://fonts.googleapis.com/css?family=Roboto rel="stylesheet');
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Caveat");

.main_w {
    width: 100%;height: 100%;padding-top: 4.8rem;
    /* background: rgb(13,20,24);
    background: linear-gradient(333deg, rgba(13,20,24,1) 0%, rgba(13,20,24,1) 14%, rgba(19,28,28,1) 29%, rgba(28,28,46,1) 44%, rgba(24,28,45,1) 49%, rgba(18,27,43,1) 54%, rgba(19,28,28,1) 64%, rgba(13,20,24,1) 100%, rgba(5,4,36,1) 100%, rgba(13,20,24,1) 100%, rgba(9,9,121,0.8757878151260504) 100%, rgba(0,212,255,1) 100%); */
}
.staketimer {
    color: #010101;font-size: 14px;font-weight: 700;margin: 1rem auto;background-color: #26b826;border-radius: 120px;
    width: fit-content;padding: 4px 12px;display: flex;
}
.main_c {
    width: 100%;display: flex;flex-direction: row;justify-content: space-between;
}
.main_c .sidebar_toggle_btn {
    margin-left: 15px;margin-top: 15px;background-color: transparent !important;border: none;
    color: #ffffff !important;z-index: 1;position: relative;display: none;
}
.main_c .sidebar_toggle_btn .toggle_icon {
    color: #f1f1f1;font-size: 28px;z-index: 99;
}
.main_c .sidebar_toggle_btn .user_icon {
    color: #ffffff;font-size: 14px !important;
}
.main_c .sidebar {
    width: 25%;padding-top: 0;position: fixed;height: 100%;bottom: 5px;top: 75px;
}
.main_c .main {
    width: 100%;height: 100%;margin-left: 25%;
}
.main_c .sidebar.sidebartoggled {
    width: 0;
}
.main_c .main.sidebartoggled {
    width: 100%;height: 100%;
}
.main_c .sidebar.toggled {
    width: 0;
}
.main .reflink {
    margin: 15px 30px 30px 30px;color: #e2d7d7;font-size: 14px;
    margin: 2rem 1rem;text-align: left;border-radius: 20px;padding: 2rem 1rem 2rem 1rem;
    background: rgb(13,20,24);
    background: linear-gradient(333deg, rgba(13,20,24,1) 0%, rgba(19,28,28,1) 0%, rgba(9,22,29,1) 0%, rgba(58,58,66,0.7049194677871149) 0%, rgba(57,57,62,0.9262079831932774) 0%, rgba(38,38,92,1) 0%, rgba(4,4,14,0.9626225490196079) 0%, rgba(0,0,0,1) 100%, rgba(18,27,43,1) 100%, rgba(19,28,28,1) 100%, rgba(13,20,24,1) 100%, rgba(5,4,36,1) 100%, rgba(13,20,24,1) 100%, rgba(9,9,121,0.8757878151260504) 100%, rgba(0,212,255,1) 100%);
}
.main .reflink input {
    background-color: #26b826;color: #000000;font-size: 12px;font-weight: 500;padding: 3px 16px 3px 12px;
    border-radius: 60px;width: 50%;margin-left: 15px;
}
.main .reflink button {
    background-color: orange;color: #2c2b2b;font-size: 13px;font-weight: 600;padding: 3px 12px;
    border-radius: 60px;width: fit-content;margin-left: 8px;
}
.main .reflink small {
    color: #26b826;
}
.main .uname {
    font-size: 16px;font-family: "Poppins";text-transform: capitalize;color: #e2d7d7;
}
.main .head {
    margin: 3rem 1rem 8rem 1rem;text-align: center;border-radius: 20px;padding: 2rem 1rem 2rem 1rem;
    background: rgb(13,20,24);
    background: linear-gradient(333deg, rgba(13,20,24,1) 0%, rgba(19,28,28,1) 0%, rgba(9,22,29,1) 0%, rgba(58,58,66,0.7049194677871149) 0%, rgba(57,57,62,0.9262079831932774) 0%, rgba(38,38,92,1) 0%, rgba(4,4,14,0.9626225490196079) 0%, rgba(0,0,0,1) 100%, rgba(18,27,43,1) 100%, rgba(19,28,28,1) 100%, rgba(13,20,24,1) 100%, rgba(5,4,36,1) 100%, rgba(13,20,24,1) 100%, rgba(9,9,121,0.8757878151260504) 100%, rgba(0,212,255,1) 100%);
}
.main .head h1 {
    font-family: "Poppins", sans-serif;font-size: 30px;font-weight: 700;color: #e2d7d7;
}
.main .head h3 {
    font-family: "Poppins", sans-serif;font-size: 20px;font-weight: 600;color: #e2d7d7;margin: 1rem auto;
}
.main .head p {
    margin: 5px 5px 5px 5px;padding: 10px;font-size: 14px;color: #e2d7d7;font-family: "Montserrat", sans-serif;
    text-align: left;
}
.main .head .get_sd_btns {
    display: flex;justify-content: space-evenly;margin-top: 45px;
}
.main .head div a.getstarted {
    background-color: #08d34f94;width: fit-content;padding: 5px 12px;border-radius: 60px;height: fit-content;
    font-family: "Poppins",sans-serif;font-size: 18px;font-weight: 600;box-shadow: 1px 1px 2px 2px #08d34f94;
    background: rgb(13,20,24);
background: linear-gradient(333deg, rgba(13,20,24,1) 0%, rgba(9,22,29,1) 0%, rgba(58,58,66,0.7049194677871149) 0%, rgba(57,57,62,0.9262079831932774) 0%, rgba(38,38,92,1) 0%, rgba(4,4,14,0.9626225490196079) 0%, rgba(36,168,19,0.9192051820728291) 0%, rgba(37,203,6,1) 100%, rgba(0,0,0,1) 100%, rgba(18,27,43,1) 100%, rgba(19,28,28,1) 100%, rgba(13,20,24,1) 100%, rgba(5,4,36,1) 100%, rgba(13,20,24,1) 100%, rgba(9,9,121,0.8757878151260504) 100%, rgba(0,212,255,1) 100%);
}
.main .head div a.learnmore {
    color: #e2d7d7;border: none;font-family: "Poppins";font-size: 18px;border: 2px solid #08d34f94;border-radius: 120px;
    font-weight: 600;padding: 2px 28px 2px 28px;border-radius: 60px;margin-top: 0;
}
.main .stake {
    width: 45%;margin: 5rem 1rem 8rem 1rem;border-radius: 16px;
    background: rgb(13,20,24);
    background: linear-gradient(333deg, rgba(13,20,24,1) 0%, rgba(19,28,28,1) 0%, rgba(9,22,29,1) 0%, rgba(58,58,66,0.7049194677871149) 0%, rgba(57,57,62,0.9262079831932774) 0%, rgba(38,38,92,1) 0%, rgba(4,4,14,0.9626225490196079) 0%, rgba(0,0,0,1) 100%, rgba(18,27,43,1) 100%, rgba(19,28,28,1) 100%, rgba(13,20,24,1) 100%, rgba(5,4,36,1) 100%, rgba(13,20,24,1) 100%, rgba(9,9,121,0.8757878151260504) 100%, rgba(0,212,255,1) 100%);
    /* background: rgb(12,16,32);
background: linear-gradient(90deg, rgba(12,16,32,1) 100%, rgba(44,44,48,1) 100%, rgba(50,52,59,1) 100%, rgba(6,29,39,1) 100%); */
}
.main .stake .stake_mod {
    margin: 0;width: 100%;
}
.main .stake .stake_mod .top {
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,0) 100%);
    padding: 10px 10px;border-top-left-radius: 16px;border-top-right-radius: 16px;
}
.main .stake .stake_mod .top h1 {
    color: #e2d7d7;font-family: "Poppins", sans-serif;font-weight: 900;text-align: center;font-size: 20px;
}
.main .stake .stake_mod .s_m h3 {
    color: #f1f1f1;font-family: "Poppins", sans-serif;font-weight: 600;text-align: center;font-size: 16px;
    margin: 15px auto;margin: 1rem 2rem;
}
.main .stake .stake_mod .s_m_in {
    width: 100%;padding: 15px 20px;
}
.main .stake .stake_mod .s_m_in .s_m_inna {
    width: 100%;margin: 1rem 0;
}
.main .stake .stake_mod .s_m_in .s_m_inna .s_m_in_c {
    width: 100%;display: flex;justify-content: space-between;
}
.main .stake .stake_mod .s_m_in .s_m_inna .s_m_in_c .s_a {
    width: 100%;text-align: left;color: #e2d7d7;font-size: 16px;font-weight: 600;
    font-family: "Montserrat",sans-serif;margin: 2rem 0;
}
.main .stake .stake_mod .s_m_in .s_m_inna .s_m_in_c .s_a  select {
    width: 100%;color: #f1f1f1;background-color: #2c2b2b50;height: 30px;font-size: 14px;
    font-weight: 400;
}
.main .stake .stake_mod .s_m_in .s_m_inna .s_m_in_c .s_b {
    width: 50%;text-align: right;color: #e2d7d7;font-size: 16px;font-weight: 600;font-family: "Montserrat",sans-serif;
}
.main .stake .stake_mod .s_m_in .s_m_inna .amountprog {
    width: 100%;
}
.main .stake .stake_mod .s_m_in .s_m_inna .amountprog progress {
    width: 100%;background-color: #e2d7d7;height: 5px;border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;
    border-radius: 8px;
}
.main .stake .stake_mod .s_m_in .apy {
    color: #e2d7d7;margin: 1rem auto;font-family: "Poppins", sans-serif;font-weight: 800;font-size: 20px;text-align: center;
}
.main .stake .stake_mod .s_m_in .interest_returns {
    width: 100%;
}
.main .stake .stake_mod .s_m_in .interest_returns ul {
    width: 100%;
}
.main .stake .stake_mod .s_m_in .interest_returns ul li {
    width: 100%;list-style: none;border-bottom: 1px solid #e2d7d7;margin-bottom: 1rem;
}
.main .stake .stake_mod .s_m_in .interest_returns ul li:first-child {
    border-bottom: none;font-weight: 600;font-family: "Poppins", sans-serif;
}
.main .stake .stake_mod .s_m_in .interest_returns ul li .ir_c {
    display: flex;justify-content: space-between;color: #e2d7d7;font-family: "Montserrat", sans-serif;font-weight: 500;
    font-size: 14px;
}
.main .stake .stake_mod .s_m_in .cw_btn_div {
    width: 100%;margin: 2rem auto;text-align: center;display: flex;flex-direction: row;
    justify-content: space-evenly;position: relative;
}
.main .stake .stake_mod .s_m_in .cw_btn_div .w_alert {
    position: absolute;background-color: rgba(20, 20, 20, 0.897);top: -25px;font-size: 12px;border-radius: 60px;width: 90%;
    padding: 3px 8px;color: #f1f1f1;display: flex;flex-direction: row;justify-content: space-around;
}
.main .stake .stake_mod .s_m_in .cw_btn_div .w_alert .walertclosediv {
    margin-right: 15px;margin-top: 5px;text-align: right;color: #ffffff;
}
.main .stake .stake_mod .s_m_in .cw_btn_div .w_alert .walertclosediv .walertclosedivbtn {
    color: #ffffff;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button {
    width: fit-content;padding: 4px 16px;font-weight: 600;color: black;
    border-radius: 120px;font-size: 14px;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button.stakebtn {
    background-color: #26b826;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button.calcrwd {
    background-color: orange;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button.withd {
    background-color: orangered;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button.stakebtn:active,.main .stake .stake_mod .s_m_in .cw_btn_div button.stakebtn:focus {
    background-color: #7e837e;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button.calcrwd:active,.main .stake .stake_mod .s_m_in .cw_btn_div button.calcrwd:focus {
    background-color: #7e837e;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button.withd:active,.main .stake .stake_mod .s_m_in .cw_btn_div button.withd:focus {
    background-color: #7e837e;
}
.main .con_btns {
    position: absolute;top: 20px;right: 30px;display: none;
}
.connect {
    color: rgb(25, 26, 25);background-color: #ffffff;border-radius: 120px;padding: 3px 16px;font-size: 14px;
    font-weight: 800;
}
.connected {
    position: relative;background-color: transparent;border-radius: 120px;border: 1px solid #26b826;
    color: #26b826;font-size: 14px;padding: 3px 16px;
}
.connected span {
    position: absolute;font-size: 10px;top: -15px;background-color: #ffffff;width: fit-content;
    border-radius: 20px;padding: 1px 4px;color: #26b826;right: 20%;
}  
.main table {
    color: #e2d7d7;width: 100%;margin: auto;margin-left: 0;text-align: left;
}
.main table th {
    font-size: 14px;border: 1px solid #e2d7d7;
    border-radius: 8px;padding: 3px;font-weight: 600;
}
.main table td {
    font-size: 14px;font-weight: 500;border: 1px solid #e2d7d7;
    border-radius: 8px;padding: 3px;
}
@media (max-width: 991px) {
    .main_w {
        width: 100%;
    }
    .main_c {
        width: 100%;
    }
    .main_c .main {
        width: 100%;height: 100%;margin-left: 0;
    }
    .main_c .sidebar {
        width: 50%;padding-top: 0;position: fixed;z-index: 99;bottom: 25px;
    }
    .main_c .sidebar_toggle_btn {
        position: absolute;top: 0;z-index: 0;display: block;
    }
    .main .stake {
        width: 90%;margin: 5rem 1rem;
    }
    .main .con_btns  {
        display: block;
    }
    .main .reflink input {
        width: 60%;margin-left: 0;
    }
}

@media (max-width: 767px) {
    
    .main_c .main {
        width: 90%;height: 100%;
    }
    .main_c .main {
        width: 100%;height: 100%;margin-left: 0;
    }
    .main_c .sidebar {
        width: 60%;padding-top: 0;position: fixed;z-index: 99;
    }
    .main .con_btns  {
        display: block;
    }
}

@media (max-width: 567px) {
    .main_c .sidebar {
        width: 60%;padding-top: 0;position: fixed;z-index: 99;
    }
    .main_c .main {
        width: 100%;height: 100%;margin-left: 0;
    }
    .main .con_btns  {
        display: block;
    }
}