@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text");
@import url('https://fonts.googleapis.com/css?family=Roboto rel="stylesheet');
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Caveat");


.back {
    color: #e2d7d7;padding: 5px 10px;font-size: 14px;font-family: "Poppins", sans-serif;
}
.qrcode {
    width: 10rem;height: 20rem;margin: 1rem auto; text-align: center;
}
.form_group {
    margin: 1rem 0;
}
.forminput {
    border-radius: 12px;width: 100% !important;height: 40px;padding: .2rem .8rem;
    border: none;
}
.formlabel {
    color: #e2d7d7;margin-top: 1rem;padding: .6rem 0;font-family: "Montserrat";font-size: 14px;
}
.formTag {
    background-color: transparent;border-radius: 8px;padding: 1rem;margin: auto;height: 100%;width: 60vw;padding-top: 5rem;
}
.formTag .fhead {
    margin: 1rem auto;
}
.formTag .fhead h3 {
    font-family: "Poppins", sans-serif;margin: 1rem auto;color: #e2d7d7;font-weight: 600;
    text-align: center;font-size: 18px;
}
.formpTag {
    font-size: 12px;font-family: "Montserrat";font-style: italic;color: #e2d7d7;
}
.labelDiv {
    width: 100%;
}
.btns {
    display: flex;justify-content: space-evenly;flex-direction: row;flex-wrap: nowrap;margin: 3rem auto 2rem auto;
}
.btns .alink {
    color: #e2d7d7;padding-top: .4rem;font-size: 14px;
}
.btns a {
    font-family: "Montserrat", sans-serif;font-size: 14px;color: #79f17f;font-weight: 600;
}
.btns .registerButton {
    border-radius: 120px;background-color: #c0bbbbc4;font-size: 16px;font-weight: 600;
    padding: .4rem 60px;border: none;color: #1c1f2b;font-family: "Poppins",sans-serif;
}
.passhideshowButton {
    text-align: right;float: right;margin-top: .6rem;margin-right: .5rem;
    border: none;color: #e2d7d7;
}
.regsuccess {
    height: 100vh;margin: 5rem auto;text-align: center;
}
.regsuccess .regs_in {
    width: fit-content;height: auto;padding: 20px;background-color: #e2d7d7;margin: 1rem auto;border-radius: 16px;
}
.regsuccess h3 {
    color: #1c1f2b;font-size: 32px;font-family: "Poppins", sans-serif;
}
.regsuccess p {
    color: #1c1f2b;font-size: 14px;font-family: "Montserrat";margin: .5rem auto;text-align: left;
}
.regsuccess span {
    text-transform: capitalize;color: rgb(30, 62, 247);font-weight: 600;
}
.regsuccess a, .regsuccess button {
    color: #e2d7d7;background-color: #1c1f2b;width: fit-content;margin: 5px auto;text-align: center;
    font-family: "Poppins",sans-serif;font-size: 16px;font-weight: 600;border-radius: 120px;
    padding: 4px 20px;
}

@media (max-width: 991px) {
    .formTag {
        height: 100vh;padding-top: 5rem;
        width: 95vw;
    }   
    .btns .registerButton {
        padding: .4rem 20px;
    }
    .regsuccess {
        width: 96%;
    }
}