.modal {
    position: absolute;top: 0;bottom: 0;right: 0;left: 0;z-index: 1;
}
.modal .modaloverlay {
    position: fixed;top: 0;bottom: 0;right: 0;left: 0;z-index: 1;width: 100%;height: 100%;
    background-color: rgba(0, 0, 0, 0.329);
}
.modalcontent{
    background-color: white;margin: 5rem auto;width: 40%;z-index: 9999;
    border-radius: 8px;padding: 18px 18px 18px 18px;text-align: center;
    display: block;position: relative;
}
.modalcontent .closemodal {
    text-align: right;margin-top: -2rem;
}
.modalcontent .modalbody {
    margin: 2rem auto;display: block;
}
.modalbody .selectdrpdwn {
    width: 100%;margin: 10px auto;padding: 6px 4px;text-align: center;align-items: center;
    border: 2px solid #d8d4d4;border-radius: 30px;
}
.modalcontent .modalbody .selectdrpdwn .wcbtn {
    width: 35%;border-radius: 16px;text-align: center;border: none;
}
.modalbody .selectdrpdwn .wlogo {
    float: left;margin-right: 8px;
}
.modalbody .selectdrpdwn .wtext {
    width: 100%;word-wrap: initial;word-break: initial;
}

@media (max-width: 991px) {
    .modalcontent{
        width: 70%;
    }
    .modalcontent .modalbody .selectdrpdwn .wcbtn {
        width: 45%;
    }
}
@media (max-width: 767px) {
    .modalcontent{
        width: 90%;
    }
}
